
@import './core/variables';
@import './core/bootstrap.scss';
@import './core/logo';
@import './utils/utils.scss';

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #355C7D;
    background: -webkit-linear-gradient(to top, #C06C84, #6C5B7B, #355C7D);
    background: linear-gradient(to top, #C06C84, #6C5B7B, #355C7D);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}