
$font-sizes: (
    'xs':   .75rem,
    'sm':   .875rem,
    'base': 1rem,
    'lg':   1.125rem,
    'xl':   1.25rem,
    '2xl':  1.5rem,
    '3xl':  1.875rem,
    '4xl':  2.25rem,
    '5xl':  3rem
);

@each $name,$size in $font-sizes{

    body .text-#{$name}{
        font-size: $size !important;
    }
}