<!DOCTYPE html>
<html>
    <head>
        <title>Boilerplate Hello</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway:500,600,700,800" rel="stylesheet"> 
    </head>
    <body>
        <%= require('html-loader?interpolate!./templates/core/logo.html') %>
        <h1>xiStudio webpack boilerplate</h1>
        <div class="d-flex flex-column justify-content-center align-items-center text-muted text-sm" >
            Basic bootstrap components to speedup development by:
            <i>
                Mateusz <b class="text-color">'Xiti'</b> Demski
            </i>
            <a href="mailto:xistudio@protonmail.ch" class="font-weight-bold p-3 mt-2" >
                Contact
            </a>
        </div>
    </body>
</html>